.user-photo {
  width: 100px;
  height: 100px;
}

.active-page {
  font-size: 30px;
  font-weight: bold;
}

.number-page {
  cursor: pointer;
  margin-right: 30px;
}

.pagination-box {
  display: flex;
  flex-wrap: wrap;
}